<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Register_servlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.Register_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_servlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.Logout_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likedServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.likedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInfoEdit_servlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.userInfoEdit_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>followServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.followServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePostServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.deletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUsersServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.searchUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_servlet</servlet-name>
        <url-pattern>/Register_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_servlet</servlet-name>
        <url-pattern>/Logout_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likedServlet</servlet-name>
        <url-pattern>/likedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInfoEdit_servlet</servlet-name>
        <url-pattern>/userInfoEdit_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>followServlet</servlet-name>
        <url-pattern>/followServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePostServlet</servlet-name>
        <url-pattern>/deletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUsersServlet</servlet-name>
        <url-pattern>/searchUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
